<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Least Cost Ration Formulator - Results</h3>
      <h5 *ngIf="formulation != null">{{formulation.formula.name}}</h5>
    </div>
    <div class="row feature_wrapper">
      <h4>Feedstuffs Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Weight
            </th>
            <th>
              Cost
            </th>
          </tr>
        </thead>
        <tbody *ngIf="formulation != null">
          <tr *ngFor="let item of formulation.feedstuffs;">
            <td *ngIf="item.weight != null">{{item.name}}</td>
            <td *ngIf="item.weight != null">{{item.weight | number:'1.2-2'}}</td>
            <td *ngIf="item.weight != null">{{item.cost | currency:'USD':true}} per 1000</td>
          </tr>
        </tbody>
      </table>
      <h4>Nutrient Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Value
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
      <h4>Micro Nutrient Supplement Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Weight
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Hello
            </td>
            <td>
              aaa
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>
              Total
            </th>
            <th>
              1000 kg
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>