<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Least Cost Ration Formulator - Results</h3>

      <br />
      <br />
      <p>The following results are computed by using the data supplied to the formulator.</p>
      <p *ngIf="formulation != null">
        The {{formulation.feedstuffs.length}} feedstuff(s) supplied to the formulator was used in conjunction with the 
        nutrient values for <b>{{formulation.formula.name}}</b> to compute a least-cost ration.
      </p>
    </div>
    <div class="row feature_wrapper">
      <h4>Feedstuffs Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Feedstuff Name
            </th>
            <th>
              Weight (kg)
            </th>
            <th>
              Cost ({{formulation == null? '?' : formulation.currencyCode}})
            </th>
          </tr>
        </thead>
        <tbody *ngIf="formulation != null">
          <tr *ngFor="let item of formulation.feedstuffs;">
            <td *ngIf="item.weight != null">{{item.name}}</td>
            <td *ngIf="item.weight != null">{{item.weight | number:'1.2-2'}} kg</td>
            <td *ngIf="item.weight != null">{{item.cost | currency: formulation.currencyCode :true}} per tonne</td>
          </tr>
        </tbody>
        <tfoot *ngIf="formulation != null">
          <tr>
            <th>
              Totals
            </th>
            <th>
              {{totalWeightOfFeedstuffInFormulation}} kg
            </th>
            <th>
              {{totalCostOfFeedstuffInFormulation | currency: formulation.currencyCode :true}}
            </th>
          </tr>
        </tfoot>
      </table>
      <h4>Nutrient Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Nutrient Name
            </th>
            <th>
              Value
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody *ngIf="formulation != null">
          <tr *ngFor="let item of formulation.composition;">
            <td>{{item.name}}</td>
            <td>{{item.value | number:'1.2-2'}} {{item.unit}}</td>
            <td [ngClass]="item.value < item.minimum? 'text-warning' : item.value > item.maximum? 'text-danger' : 'text-success'">
              {{item.value
              < item.minimum? 'Inadequate' : item.value> item.maximum? 'Excessive' : 'Adequate'}}
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Micro Nutrient Supplement Composition</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Nutrient Name
            </th>
            <th>
              Supplement Feedstuff Name
            </th>
            <th>
              Weight
            </th>
          </tr>
        </thead>
        <tbody *ngIf="formulation != null">
          <tr *ngFor="let item of formulation.supplementComposition;">
            <td>
              {{item.name}}
            </td>
            <td>
              <ng-select [allowClear]="true" [items]="item.supplementFeedstuffs" [active]="item.selectedSupplementFeedstuffs" (selected)="onSelect_SupplementFeedstuff(item, $event)"
                placeholder="No feedstuff selected">
                </ng-select>
            </td>
            <td *ngIf="item.selectedSupplementFeedstuffs != null && item.selectedSupplementFeedstuffs.length > 0">
              <span *ngIf="item.selectedSupplementFeedstuffs[0].weight > 5">{{item.selectedSupplementFeedstuffs[0].weight | number:'1.2-2'}} kg</span>
              <span *ngIf="item.selectedSupplementFeedstuffs[0].weight <= 5">{{item.selectedSupplementFeedstuffs[0].weight * 1000 | number:'1.2-2'}} g</span>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="formulation != null">
          <tr>
            <th>
              Totals
            </th>
            <th>
            </th>
            <th>
              <span *ngIf="totalWeightOfSupplementFeedstuffInFormulation > 5">{{totalWeightOfSupplementFeedstuffInFormulation | number:'1.2-2'}} kg</span>
              <span *ngIf="totalWeightOfSupplementFeedstuffInFormulation <= 5">{{totalWeightOfSupplementFeedstuffInFormulation * 1000 | number:'1.2-2'}} g</span>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>