<div class="container">
  <div class="section_header">
    <h3>Tips</h3>
  </div>
  <div class="row">
    <h3>Specie-specific Tips</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>
        Ruminants: Sheep , Goats, Dairy, Beef, Alpacas, Llamas and Game Animals (excluding Zebra)
      </h4>
      <p>
        In essence this group of animals consume plant material only, but like pigs and poultry, they benefit tremendously when proteins
        of animal origin like fishmeal, meat meal, etc. are included in their diet. Offer at least two roughages, two grains
        and/or their by-products, two protein sources plus the macro-minerals magnesium, potassium and salt. Molasses up
        to 8% is often included to combat dustiness and enhance palatability.
      </p>
      <h4>
        Horses: All Horses, Zebra and Giraffe
      </h4>
      <p>
        Offer at least two roughages, two grains and/or their by-products, two protein sources plus the macro-minerals magnesium,
        potassium and salt. Horses love oats. They thrive on it, both grain and hay. Alfalfa hay is an excellent roughage
        for horses, but avoid feeding mouldy hay. Up to 10% fish meal or meat meal will greatly greatly reduce the supplementation
        of synthetic amino acids and other micro-nutrients. Never include urea, biuret and the two ionosphores commonly used
        in ruminant feeds, viz. monensin sodium (Rumensin) and lasalocid (Bovatec), as these are toxic to horses. Molasses
        up to 8% is often included to combat dustiness and to enhance palatability.
      </p>
      <h4>
        Pigs (Swine)
      </h4>
      <p>
        Virtually all grains and/or their by-products and protein sources from both plant and animal origin are suitable ingredients.
        Good quality roughage such as alfalfa hay up to 20% maximum can be offered, but is not essential. Always offer the
        macro-minerals magnesium, potassium and salt. Molasses up to 8% is often included to combat dustiness and to enhance
        palatability.
      </p>
      <h4>
        Poultry: Chickens, Broilers, Turkeys, Ostriches, Emus, Pheasants, Ducks, Geese and Quail
      </h4>
      <p>
        Virtually all grains and/or their by-products and protein sources from both plant and animal origin are suitable ingredients,
        but limit fish meal to 5% maximum in broiler and egg producing rations for obvious reasons. Good quality roughage
        such as alfalfa hay u p to 20% maximum can be offered, but is not essential. Always offer the three macro-minerals
        magnesium, potassium and salt. Molasses up to 8% is often included to combat dustiness and to enhance palatability.
      </p>
      <h4>
        Pigeons
      </h4>
      <p>
        Ingredients to include in feed mixes for pigeons should be of plant origin only. In pelleted pigeon rations you can offer
        virtually any of the grains and/or their by-products plus any of the protein sources of plant origin. Where pigeon
        fanciers prefer whole seed mixes, it is important to include protein rich seeds such as pea seeds, lentils, lupines
        and beans together with whole grains such as wheat, barley, sorghum, sweet corn, naked oats etc. To ensure that pigeon
        receive the micro nutrient portion of the ration containing the essential vitamins, amino acids and trace minerals,
        dampen the seeds with a two parts water and one part molasses solution, sprinkle the powdered supplement and mix
        thoroughly. In both pelleted and whole seed mixes, always offer the three macro-minerals magnesium, potassium and
        salt plus a rich source of linoleic acid such as found in canola oil, safflower oil, palm oil, palm kernel oil or
        sunflower oil.
      </p>
      <h4>
        Cats and Dogs
      </h4>
      <p>
        As cats and dogs are not herbivorous animals, their rations do not call for any roughages to be included in any of the formulations.
        Grains low in fibre and limited inclusions (up to 10%) of the more fibrous grains such as oats and barley are standard
        procedures. Two important ingredients to consider here are oats grain (naked) and whey powder (dried). Animal protein
        sources such as fishmeal, boneless meat meals, either red meat, swine or poultry by-products are essential ingredients,
        with cats preferring relatively more fish and dogs relatively more meat. Of the plant protein sources, either peanut
        oilcake meal or whole cottonseed (delinted) should always be offered for inclusion in both the cat and dog rations
        as they also contain two other essential nutrients that these animals need, viz. linoleic acid and arachidonic acid.
        Cats and dogs also have relatively high requirements for fat in their diet and including an oil such as as palm oil
        or palm kernel oil or a soft fat such as beef tallow is highly recommended. The latter is a rich source of arachidonic
        acid, while the former two are rich in linoleic acid. And lastly, the three macro-minerals magnesium, potassium and
        salt should always be included.
      </p>
      <h4>
        Fish: Includes Shrimp, both Carnivorous and Omnivorous. The Fish include Channel Catfish, Tilapia, Striped Bass and Hybrid
        Bass, Rainbow Trout, Pacific and Atlantic Salmon
      </h4>
      <p>
        When selecting feedstuffs for fish and shrimp it is important to differentiate between the carnivorous and omnivorous species.
        The first point to note is that although omnivores consume plant material, they are not herbivores, meaning that
        dry roughages and the like are never included as possible ingredients of the diet. The second point to note is that
        the omnivorous species of both groups need proteins, fats and many other nutrients, some of which are supplied by
        plant materials and others of which are supplied by materials of animal origin. On the other hand, the carnivous
        species of both shrimp and fish which require the bulk of their nutrients to be supplied by materials of animal origin
        such as fish meal, blood meal, casein, whey (dried), meat and carcass meal (red meat, poultry and swine (the bone-free
        by-product), but are not adversely affected by small amounts of grains and seeds containing a relatively low fibre
        content, such as millet, pea seeds, lentils, soybeans and soybean oilcake meal, rice grouts, hull-less barley and
        bakery waste. Needless to say that all the all above-mentioned feedstuffs are typical ingredients used in the feeds
        of omnivorous fish and shrimp. Two other essential ingredients needed is an oil of plant origin such as palm oil
        or palm kernel oil, as they are rich in linoleic acid and in arachidonic acid, and an oil of animal origin such as
        herring oil, which is again rich in cholesterol. (Note: Fish diets call for a fixed ratio of animal fat to plant
        fat, hence the importance of offering both sources for formulations). Lastly, the three macro-minerals magnesium,
        potassium and salt should always be included.
      </p>
      <h4>
        Rabbits
      </h4>
      <p>
        Rabbits are monogastric herbivores, like the horse. They have no rumen. In essence they consume plant material only, but
        like pigs and poultry, they benefit tremendously when proteins of animal origin like fishmeal, meat meal, etc. are
        included in their diet; they need all the essential amino acids for maximum performance in growth and reproduction.
        When formulating, include at least two roughages, two grains and/or their by-products, two protein sources plus the
        macro-minerals magnesium, potassium and salt. Up to 10% fismeal or meat meal will greatly greatly reduce the supplementation
        of synthetic amino acids and other micro-nutrients. Never include urea, biuret and the ionosphere growth stimulants
        commonly used in ruminant feeds, viz. monensin sodium (Rumensin) and lasalocid (Bovatec), as these are toxic to eabbits.
        Molasses up to 8% is often included to combat dustiness and to enhance palatability.
      </p>
    </div>
  </div>
</div>