<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Own Feedstuffs</h3>
      <br />
      <br />
      <p>
        
      </p>
    </div>
    <div class="row feature_wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sunflower seed hulls</td>
            <td>6/15/2017 1:45 PM</td>
            <td>
              <button class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            </td>
          </tr>
          <tr>
            <td>Molasses, sugarcane (syrup)</td>
            <td>5/18/2017 2:55 PM</td>
            <td>
              <button class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            </td>
          </tr>
          <tr>
            <td>K, as Potassium Chloride (KCl)</td>
            <td>11/26/2017 8:32 PM</td>
            <td>
              <button class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>