
<div id="features">
  <div class="container">
    <div class="section_header">
      <h3>Features</h3>
    </div>
    <div class="row feature">
      <div class="col-sm-6">
        <img src="/assets/img/showcase1.png" class="img-responsive" />
      </div>
      <div class="col-sm-6 info">
        <h3>
          <i class="fa fa-calculator fa-2x"></i> Formulates on a true “Least-Cost” procedure
        </h3>
        <p>
          Our program formulates rations on a least-cost linear programming procedure. The user merely has to select from 
          the extensive list of feedstuffs the feeds available to him and submit the cost of the selected ingredients.
        </p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-sm-6 pic-right">
        <img src="/assets/img/showcase2.png" class="pull-right img-responsive" />
      </div>
      <div class="col-sm-6 info info-left">
        <h3>
          <i class="fa fa-line-chart fa-2x"></i> Indicates the composition and nutrient status 
        </h3>
        <p>
         The program provides (together with the ration composition) the ration’s nutrient status, by listing the nutrients that are adequate, deficient or in excess. In addition, you receive a customized micro-nutrient supplement mix which, when added to your 1000 kg mix, will rectify any deficiencies found in the initial macro formulation.
        </p>
      </div>
    </div>
    <!--<div class="row feature">
      <div class="col-sm-6">
        <img src="/assets/img/showcase3.png" class="img-responsive" />
      </div>
      <div class="col-sm-6 info">
        <h3>
          <img src="/assets/img/features-ico3.png" /> An all-species website – Alpaca to Zebra
        </h3>
        <p>
         Our program is unique because it formulates rations for virtually all animal species in animal husbandry. 
         Along with the standard ‘production-type’ species, rations for dogs, cats, alpacas, quail, fish and many more are available.
        </p>
      </div>
    </div>-->
  </div>
</div>


<!-- Pricing Option -->
<!--<div id="in_pricing">
  <div class="container">
    <div class="section_header">
      <h3>Pricing</h3>
    </div>

    <div class="row charts_wrapp">
      <div class="col-sm-4">
        <div class="plan">
          <div class="wrapper">
            <h3>Lite</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">20</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>4</strong> Team Members
              </p>
              <p>
                <strong>10</strong> Storage
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pro">
        <div class="plan">
          <div class="wrapper">
            <img class="ribbon" src="/assets/img/badge.png">
            <h3>Pro</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">45</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>25</strong> Team Members
              </p>
              <p>
                <strong>Unlimited</strong> Storage
              </p>
              <p>
                <strong>Plus </strong> Phone Support
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 standar">
        <div class="plan">
          <div class="wrapper">
            <h3>Standard</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">70</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>4</strong> Team Members
              </p>
              <p>
                <strong>10</strong> Storage
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
    </div>
    <div class="start">
      <p>Start your free, no-risk, 14 day trial! </p>
      <a href="pricing.html">Start Now!</a>
    </div>
  </div>
</div>-->
