<div id="aboutus">
  <div class="container">
    <div class="section_header">
      <h3>About Us</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 intro">
        <h6>An affordable, user-friendly and cloud-based ‘least-cost’ ration formulation program which can be used for a very
          wide range of animal species.</h6>
        <p>
          World of Rations® is an online cloud-based ration formulation program, structured in such a way as to suit the farmer, specialist
          nutritionist, feed milling companies and academics alike. The program formulates rations in a true least-cost linear
          programming procedure. The user merely has to select from the extensive list of feedstuffs the feeds available
          to him and submit the cost of the selected ingredients. Along with the standard ‘production-type’ species, World
          of Rations® offers to its users the facility to formulate rations for a very wide range of other animals such as
          dogs, cats, alpacas, ostriches, quail, fish, antelope, etc. The nutrient requirements for these animal are derived
          from the latest publications of the major scientific councils such as NRC, ARC, AAFCO etc, and form part of its
          extensive data base , making it unnecessary to users to have these values at their fingertips. There is the added
          facility offered for users to modify or change the values of any particular formula or feed ingredient, if he so
          wishes. Finally, all rations that are formulated, are free to the point where the user can view the price (cost)
          per ton of the formulated feed. For a small fee he can obtain the ration’s composition, together with the ration’s
          micro-nutrient status, listing the nutrients that are adequate or deficient or in excess. On request, for an additional
          small fee, a customized premix can be formulated.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="/assets/img/about_slide1.jpg" />
      </div>
    </div>
  </div>
</div>
<div id="team">
  <div class="container">
    <div class="section_header">
      <h3>Meet our Team</h3>
    </div>
    <div class="row people">
      <div class="row row1">
        <div class="col-sm-6 bio_box">
          <img src="/assets/img/ale.png" alt="">
          <div class="info">
            <p class="name">Alejandra Galvan Castillo</p>
            <p class="area">Creative Director</p>
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="flickr">
              <span class="socialicons ico4"></span>
              <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="dribble">
              <span class="socialicons ico6"></span>
              <span class="socialicons_h ico6h"></span>
            </a>
          </div>
        </div>

        <div class="col-sm-6 bio_box bio_boxr">
          <img src="/assets/img/ale.png" alt="">
          <div class="info">
            <p class="name">Alejandra Galvan Castillo</p>
            <p class="area">Creative Director</p>
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="flickr">
              <span class="socialicons ico4"></span>
              <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="dribble">
              <span class="socialicons ico6"></span>
              <span class="socialicons_h ico6h"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row row1">
        <div class="col-sm-6 bio_box">
          <img src="/assets/img/ale.png" alt="">
          <div class="info">
            <p class="name">Alejandra Galvan Castillo</p>
            <p class="area">Creative Director</p>
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="flickr">
              <span class="socialicons ico4"></span>
              <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="dribble">
              <span class="socialicons ico6"></span>
              <span class="socialicons_h ico6h"></span>
            </a>
          </div>
        </div>
        <div class="col-sm-6 bio_box bio_boxr">
          <img src="/assets/img/ale.png" alt="">
          <div class="info">
            <p class="name">Alejandra Galvan Castillo</p>
            <p class="area">Creative Director</p>
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="flickr">
              <span class="socialicons ico4"></span>
              <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="dribble">
              <span class="socialicons ico6"></span>
              <span class="socialicons_h ico6h"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
