<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Least Cost Ration Formulator</h3>
      <br />
      <br />
      <p>
        With our database of 264 feedstuffs we allow you to select the feedstuffs available to you along with the price at which
        you acquire it. These feedstuffs and formula, chosen from our selection of 900 formulas, will be used to compute
        a balanced least-cost ration.
      </p>
    </div>
    <div class="row feature_wrapper">
      <p class="text-danger">{{errorMessage}}</p>
      <div class="form-group">
        <label>Currency</label>
        <ng-select [items]="currencyList" [active]="selectedCurrencyNames" (selected)="onSelect_Currency($event)">
        </ng-select>
        <small class="form-text text-muted">select your preferred currency.</small>
      </div>
      <div class="form-group">
        <label>Formula</label>
        <input [(ngModel)]="selectedFormulaName" [typeahead]="formulaList" (typeaheadOnSelect)="onSelect_Formula($event)" typeaheadOptionField="name"
          class="form-control" />
        <small class="form-text text-muted">search our selection of 900 formulas by typing a keyword or two.</small>
      </div>
      <div class="form-group">
        <label>Feedstuffs</label>
        <br />
        <small>Add/Remove to this list to reflect the feedstuffs available to you.</small>
        <button class="btn btn-success pull-right" (click)="onClick_Formulate()" [disabled]="isFormulating"><i class="fa fa-calculator" *ngIf="!isFormulating"></i><i class="fa fa-refresh fa-spin" *ngIf="isFormulating"></i>&nbsp;Formulate</button>
        <button class="btn btn-primary pull-right padded" (click)="onClick_AddFeedstuff()"><i class="fa fa-plus"></i>&nbsp;Add Feedstuff</button>
        <button class="btn btn-default pull-right padded" (click)="onClick_ResetToDefaults()"><i class="fa fa-undo"></i>&nbsp;Reset to Defaults</button>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4 text-center">
            Feedstuff
          </div>
          <div class="col-md-2 text-center">
            Minimum (kg)
          </div>
          <div class="col-md-2 text-center">
            Maximum (kg)
          </div>
          <div class="col-md-2 text-center">
            Cost ({{selectedCurrencyNames.length == 0? 'USD' : selectedCurrencyNames[0]}} per tonne)
          </div>
          <div class="col-md-2 text-center">
            Actions
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let item of feedstufffs;">
        <div class="form-group">
          <div class="col-md-4">
            <input [(ngModel)]="item.selectedFeedstuffName" (typeaheadOnSelect)="onUpdate_SuggestedValues($event, item)" [typeahead]="feedstuffList"
              typeaheadOptionField="name" class="form-control" />
          </div>
          <div class="col-md-2">
            <input class="form-control" [(ngModel)]="item.minimum" type="text" />
          </div>
          <div class="col-md-2">
            <input class="form-control" [(ngModel)]="item.maximum" type="text" />
          </div>
          <div class="col-md-2">
            <div class="form-group number">
              <input type="text" [(ngModel)]="item.cost" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-refresh fa-spin pull-left margin-10" *ngIf="item.isLoading"></i>
            <button class="btn btn-danger pull-right" (click)="onClick_RemoveFeedstuff(item)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-danger">{{errorMessage}}</p>
          <button class="btn btn-success pull-right" (click)="onClick_Formulate()" [disabled]="isFormulating"><i class="fa fa-calculator" *ngIf="!isFormulating"></i><i class="fa fa-refresh fa-spin" *ngIf="isFormulating"></i>&nbsp;Formulate</button>
          <button class="btn btn-primary pull-right padded" (click)="onClick_AddFeedstuff()"><i class="fa fa-plus"></i>&nbsp;Add Feedstuff</button>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row" *ngIf="formulatorResult != null && formulatorResult.feasible == true">
        <div class="col-md-12">
          <div class="alert alert-success">
            <p>
              We have successfully formulated a least-cost ration with a total cost of <b>{{formulatorResult.cost | currency: formulatorResult.currencyCode :true}} per tonne</b>.
            </p>
            <br />
            <p>
              To view the composition of this formulation, click <a href="/formulation?formulationId={{formulatorResult.id}}">here</a>,
              or adjust your feedstuffs and formulate again.
            </p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="formulatorResult != null && formulatorResult.feasible == false">
        <div class="col-md-12">
          <div class="alert alert-danger">
            <p>
              We could not formulate a feasible ration. Please change your selection of feedstuffs and formulate again.
            </p>
            <br />
            <p>
              If this problem persists, please contact World of Rations by sending an email to info@worldofrations.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>