<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Least Cost Ration Formulator</h3>
    </div>
    <div class="row feature_wrapper">
      <p class="text-danger">{{errorMessage}}</p>
      <div class="form-group">
        <label>Formula</label>
        <!--<typeahead [(ngModel)]="selectedFormula" [list]="formulaList" [searchProperty]="'searchText'" [displayProperty]="'name'"
          [maxSuggestions]="30" (suggestionSelected)="onSelect_Formula($event)" placeholder="Begin typing a formula">
        </typeahead>-->
         <input [(ngModel)]="selectedFormulaName"
       [typeahead]="formulaList"
        (typeaheadOnSelect)="onSelect_Formula($event)"
       typeaheadOptionField="name"
       class="form-control"/>
        <small class="form-text text-muted">search over 900 formulas</small>
      </div>
      <div class="form-group">
        <label>Feedstuffs</label>
        <button class="btn btn-primary pull-right padded" (click)="onClick_AddFeedstuff()"><i class="fa fa-plus"></i>&nbsp;Add Feedstuff</button>
        <button class="btn btn-default pull-right padded" (click)="onClick_ResetToDefaults()"><i class="fa fa-undo"></i>&nbsp;Reset to Defaults</button>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4 text-center">
            Feedstuff
          </div>
          <div class="col-md-2 text-center">
            Minimum (kg)
          </div>
          <div class="col-md-2 text-center">
            Maximum (kg)
          </div>
          <div class="col-md-2 text-center">
            Cost ($ per tonne)
          </div>
          <div class="col-md-2 text-center">
            Actions
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let item of feedstufffs;">
        <div class="form-group">
          <div class="col-md-4">
            <!--<typeahead [(ngModel)]="item.selectedFeedstuff" [list]="feedstuffList" [searchProperty]="'searchText'" [displayProperty]="'name'"
              [maxSuggestions]="10" (suggestionSelected)="onUpdate_SuggestedValues($event, item)" placeholder="Begin typing a feedstuff">
            </typeahead>-->
            <input [(ngModel)]="item.selectedFeedstuffName"
             (typeaheadOnSelect)="onUpdate_SuggestedValues($event, item)"
       [typeahead]="feedstuffList"
       typeaheadOptionField="name"
       class="form-control"/>
          </div>
          <div class="col-md-2">
            <input class="form-control" [(ngModel)]="item.minimum" type="text" />
          </div>
          <div class="col-md-2">
            <input class="form-control" [(ngModel)]="item.maximum" type="text" />
          </div>
          <div class="col-md-2">
            <div class="form-group number">
              <input type="text" [(ngModel)]="item.cost" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-refresh fa-spin pull-left margin-10" *ngIf="item.isLoading"></i>
            <button class="btn btn-danger pull-right" (click)="onClick_RemoveFeedstuff(item)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success pull-right" (click)="onClick_Formulate()" [disabled]="isFormulating"><i class="fa fa-calculator" *ngIf="!isFormulating"></i><i class="fa fa-refresh fa-spin" *ngIf="isFormulating"></i>&nbsp;Formulate</button>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row" *ngIf="formulatorResult != null && formulatorResult.feasible == true">
        <div class="col-md-12">
          <div class="alert alert-success">
            <p>
              We have successfully formulated a ration with a total cost of <b>{{formulatorResult.cost | currency:'USD':true}}</b>.
              <br />
              <br /> Click <a href="/formulation?formulationId={{formulatorResult.id}}">here</a> to view the details of this
              formulation.
            </p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="formulatorResult != null && formulatorResult.feasible == false">
        <div class="col-md-12">
          <div class="alert alert-danger">
            <p>
              We could not formulate a feasible ration. Please change your selection of feedstuff and retry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>