<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Own Feedstuff Edit - {{feedstuff?.name}}</h3>
      <br />
      <br />
      <p>
        
      </p>
    </div>
    <div class="row feature_wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Element</th>
            <th>Value</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of elements">
            <td>{{item.name}}</td>
            <td>
              <input class="form-control" [(ngModel)]="item.value"/>
            </td>
            <td>
              {{item.unit}}
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success pull-right" (click)="onClick_Save()"><i class="fa fa-save"></i>&nbsp;Save</button>
    </div>
  </div>
</div>